@model Du_An.Models.GiaoVien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GiaoVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaGv" class="control-label"></label>
                <input asp-for="MaGv" class="form-control" />
                <span asp-validation-for="MaGv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenGv" class="control-label"></label>
                <input asp-for="TenGv" class="form-control" />
                <span asp-validation-for="TenGv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdvaiTro" class="control-label"></label>
                <select asp-for="IdvaiTro" class ="form-control" asp-items="ViewBag.IdvaiTro"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaMh" class="control-label"></label>
                <input asp-for="MaMh" class="form-control" />
                <span asp-validation-for="MaMh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdnienKhoa" class="control-label"></label>
                <select asp-for="IdnienKhoa" class ="form-control" asp-items="ViewBag.IdnienKhoa"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaQuyenHan" class="control-label"></label>
                <select asp-for="MaQuyenHan" class ="form-control" asp-items="ViewBag.MaQuyenHan"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaLop" class="control-label"></label>
                <select asp-for="MaLop" class ="form-control" asp-items="ViewBag.MaLop"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
